@model ShareYourTrip.Entities.DataModels.Destination
@using ShareYourTrip.Entities.DataModels

@using (Html.BeginForm("AddDestination", "Trips", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Seleccione su destinos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.City.Id, ViewBag.Cities as IEnumerable<SelectListItem>, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeltaDays, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeltaDays, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DeltaDays, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar destino" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-xs-10">
        @{
            if (Session["Destinations"] != null)
            {
                var destinations = (List<Destination>)Session["Destinations"];

                <table class="table">
                    <tr>
                        <th>
                            Destino
                        </th>
                        <th>
                            Desde
                        </th>
                        <th>
                            Hasta
                        </th>
                    </tr>

                    @foreach (var item in destinations)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.City.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FromDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ToDate)
                            </td>
                        </tr>
                    }

                </table>

            }
        }
    </div>
</div>


<div class="row">
        @Html.ActionLink("Siguiente", "SetPreferences", null, new { @class = "btn btn-success" })
</div>




    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
