@model ShareYourTrip.Entities.ViewModels.TripDetails
@using ShareYourTrip.Entities.DataModels

@{
    ViewBag.Title = "ShareYourTrip - TripDetails";
}

<h2>Detalles del Viaje</h2>

<div class="row">
    <div class="col-md-12">
        <h3>@Model.Trip.TripName</h3>
        <table class="table">
            <thead>
                <tr>
                    <td>Destino</td>
                    <td>Desde</td>
                    <td>Hasta</td>
                </tr>
            </thead>

            <tbody>
                @foreach (Destination dest in Model.Trip.Destinations)
                {
                    <tr>
                        <td>@dest.City.Name</td>
                        <td>@dest.FromDate</td>
                        <td>@dest.ToDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <h3>Categorizacion</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Preferencias</th>
                    <th>Genero</th>
                    <th>Rango de Edad</th>
                    <th>Trimestre</th>
                    <th>Destinos</th>
                    <th>Servicios</th>
                    <th>Tipos</th>
                    <th>Origen</th>
                    <th>Destino</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>@Model.TripClasification.UserPreferences</th>
                    <th>@Model.TripClasification.Genre</th>
                    <th>@Model.TripClasification.UserAgeRange</th>
                    <th>@Model.TripClasification.TripYearQuarter</th>
                    <th>@Model.TripClasification.Destinations</th>
                    <th>@Model.TripClasification.TripServicesToShare</th>
                    <th>@Model.TripClasification.TripTypes</th>
                    <th>@Model.TripClasification.CityFrom.Name</th>
                    <th>@Model.TripClasification.ContinentTo.Name</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
